@import 'theme.scss';

.btn-container {
  position: fixed;
  z-index: 100;
  bottom: 0px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  color: white;
  background-color: rgb(255, 255, 255);
  padding: 24px 16px;
  text-align: center;
  .button {
    width: 100%;
    max-width: 328px;
    height: 56px;
    border-radius: 999px;
    color: white;
    background: gray;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin: 18px auto;
  }
  .button.clicked {
    background-color: $primary;
    color: #ffffff;
  }
}
.half-button {
  width: 40%;
  max-width: 164px;
  height: 56px;
  border-radius: 8px;
  color: white;
  background: $gray_300;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 18px auto;
}
